# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/


# ==============================
# Data (optional - if large dataset)
# ==============================

data/*.csv
data/*.json

# If you want to keep sample dataset, remove above

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Streamlit
# ==============================

.streamlit/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Environment variables
# ==============================

.env